* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* :root{
  --dark_cyan : #0e4d6c;
  --orange : #f05833;
  --grey : rgba(21, 2, 2, 0.172);
  --white : #ffffff;
  --darkest : #2c4653;
  --black : #000;
  --lowOpac: #0e4d6c4c;
  --jetcolor:#343434;
  --smokyblack:#100c08;
  --egblac:#16161d;
  --whites:#FFF5EE;
}
 */

html {
  font-size: 100%;
}

:root {
  --dark_cyan: #19647E;
  --orange: #F23F23;
  --grey: #B8B8B8;
  --white: #F7F6F6;
  --darkest: #BFBBFB;
  --black: #100c08;
  --lowOpac: #BFBBFB;
  --jetcolor: #3333335d;
  --smokyblack: #333333;
  --egblac: #005B96;
  --whites: #FFF5EE;
}


body,
#root {
  width: 100%;
  height: auto;
  background-color: var(--black);
}


@media screen and (min-device-width: 320px) and (max-device-width: 479px) {
  html{
    font-size: 52%;
  }
}


@media screen and (min-device-width: 480px) and (max-device-width: 767px) {
  html{
    font-size: 70%;
  }
}


@media screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  html{
    font-size: 80%;
  }
}


@media screen and (min-device-width: 1024px) and (max-device-width: 1200px) {
  html{
    font-size: 90%;
  }
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    html{
      font-size: 100%;
    }
}
